 /* * {
    border: 1px solid red;
    outline: 4px solid black;
} */
body {
    text-align: center;
    background-color: rgb(234, 233, 233);
}
h1 {
    position: relative;
    font-size: 60px;
    bottom: 40px;
    margin-bottom: 0px;
}
h3 {
    position: relative;
    bottom: 50px;
    font-size: 25px;
}
.radios {
    position: relative;
    font-size: 20px;
    bottom: 60px;
}
#reset {
    position: relative;
    margin-right: 1510px;
    bottom: 120px;
    font-size: 25px;
}  
#hiddenContainer {
    position: absolute;
    height: 300px;
    width: 300px;
    /* margin-top: 10px; */
    bottom: 400px;;
    margin-left: 1380px;
}
#timer {
    font-size: 70px;
}  
.lives {
    font-size: 40px;
} 
.main {
    position: relative;
    bottom: 70px;
    border: 5px solid green;
    margin: 0 auto;
    width: 1580px;
    height: 500px;;
}
.message {
    position: relative;
    font-size: 40px;
    top:9px;
}
.img0 {
    position: relative;
    top: 20px;
    height: 350px;
}
 .img1 {
    position: relative;
    top: 20px;
    height: 350px;
}
 .img2 {
    position: relative;
    top: 20px;
    height: 350px;
}
 .img3 {
    position: relative;
    top: 20px;
    height: 350px;
}
 .img4 {
    position: relative;
    top: 20px;
    height: 350px;
}
 .img5 {
    position: relative;
    top: 20px;
    height: 350px;
}
 .img6 {
    position: relative;
    top: 20px;
    height: 350px;
}
 .winner {
    position: relative;
    top: 20px;
    height: 350px;
}
.hidden {
    display: none;
}
#word {
    position: relative;
    font-size: 50px;
    top: 25px;
} 
#keyBorder {
    position: relative;
    border: 2px solid green;
    width: 1450px;
    height: 250px; 
    margin: 0 auto;
    bottom: 65px;
}
#keyboard {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: 2px solid green; */
    margin: 3px auto;
    width: 1450px;
    height: 250px; 
    
}
.keys {
    font-size: 40px;;
    height: 50px;
} 
.firstRow {
    display: flex;
    justify-content: space-around;
}
.secondRow {
    display: flex;
    justify-content: space-evenly;
}
.lastRow {
    display: flex;
    justify-content: space-evenly;
}

