 /* * {
    border: 1px solid red;
    outline: 4px solid black;
} */
body {
    text-align: center;   
}
h1 {
    margin: 0;
}
h3 {
    margin-top: 10px;
}
.main {
    border: 5px solid green;
    margin: 0 auto;
    width: 1580px;
    height: 500px;;
}
#keyboard {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2px solid green;
    margin: 3px auto;
    width: 1450px;
    height: 250px; 
}
 #word {
    font-size: 50px;
} 
 #playersGuess {
    margin-top: 100px;
}
#reset {
    position: relative;
    margin-right: 1524px;
    bottom: 100px;
    font-size: 20px;
} 
#timer {
    margin-left: 1370px; 
    font-size: 50px;
}  
.lives {
    margin-left: 1370px;
} 
.keys {
    font-size: 40px;;
    height: 50px;
} 
.firstRow {
    display: flex;
    justify-content: space-around;
}
.secondRow {
    display: flex;
    justify-content: space-evenly;
}
.lastRow {
    display: flex;
    justify-content: space-evenly;
}
 .img0 {
    margin-top: 10px;
    height: 350px;
    /* visibility: hidden; */
}
 .img1 {
    margin-top: 10px;
    height: 350px;
    /* display: none; */
}
 .img2 {
    margin-top: 10px;
    height: 350px;
    /* display: none; */
}
 .img3 {
    margin-top: 10px;
    height: 350px;
    /* display: none; */
}
 .img4 {
    margin-top: 10px;
    height: 350px;
    /* display: none; */
}
 .img5 {
    margin-top: 10px;
    height: 350px;
    /* display: none; */
}
 .img6 {
    margin-top: 10px;
    height: 350px;
    /* display: none; */
}
 .winner {
    margin-top: 10px;
    height: 350px;
    /* display: none; */
}

.hidden {
    display: none;
}


